@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Raleway', 'sans-serif';   
}

body {
    margin: 0;
    background: linear-gradient(27deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

body.clear {
    background: linear-gradient(165deg, rgba(236,255,0,1) 0%, rgba(42,206,245,1) 35%, rgba(0,44,255,1) 100%);
}

body.snow {
    background: linear-gradient(166deg, rgba(253,254,246,1) 0%, rgba(180,228,240,1) 35%, rgba(145,146,150,1) 100%);
}

body.rain,
body.drizzle {
    background: linear-gradient(166deg, rgba(104,105,100,1) 0%, rgba(125,133,135,1) 35%, rgba(186,190,205,1) 100%);
}

body.thunderstorm {
    background: linear-gradient(166deg, rgba(95,124,238,1) 19%, rgba(220,223,133,1) 56%, rgba(168,168,168,1) 75%);
}

body.mist {
    background: linear-gradient(166deg, rgba(223,224,226,1) 19%, rgba(232,232,230,1) 56%, rgba(235,230,230,1) 75%);
}

body.sand {
    background: linear-gradient(166deg, rgba(60,160,238,1) 0%, rgba(212,189,112,1) 35%, rgba(190,123,22,1) 100%);
}

body.tornado {
    background: linear-gradient(166deg, rgba(60,160,238,1) 0%, rgba(162,160,154,1) 35%, rgba(168,168,168,1) 100%);
}


p {
    margin: 0;
}

#cityInput {
    position: absolute;
    top: 15px;
    right: 15px;

    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 5px;
}

.weatherDisplay,
.otherInfo {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}

.cityName {
    font-size: 2em;
    font-weight: 700;
}

.tempIcon {
    display: flex;
    gap: 10px;
}

.temperature {
    font-size: 3em;
    font-weight: 500;
}

.toggleTheme,
.about {
    position: absolute;
    bottom: 10px;
    width: 25px;
    height: 25px;

    border-radius: 50%;
    flex-shrink: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.85);
}

.toggleTheme {
    left: 10px;
    background-image: url('./img/moon.svg');
}

.toggleTheme.dark {
    background-image: url('./img/white_moon.svg');
}

.about {
    right: 10px;
    font-size: 1.1em;
    color: gray;
}

.aboutModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    z-index: 2;
    padding: 1rem;
    box-shadow: 5px 5px 25px 1px #000000;
}

.dark {
    background-color: rgba(0, 0, 0, 0.75) !important;
    color: rgb(220,220,220);
}

.invisible {
    display: none;
}

@supports (backdrop-filter: blur(10px)) {
    .aboutModal {
        backdrop-filter: blur(10px);
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
}

@supports not (backdrop-filter: blur(10px)) {
    .aboutModal {
        background-color: rgba(255, 255, 255, 0.85);
    }
}

@media screen and (min-width: 1000px) { /* PC */
    body {
        flex-direction: row;
    }
}